<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nela.module">

    <application>
        <receiver
            android:name=".receiver.BusinessAReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".receiver.ReceiverService"
            android:exported="false" />
    </application>

</manifest>